:root {
  --white: #fff;
  --white-dark: #f5f5f5;
  --gray: #f9f9f9;
  --gray-2: #a5a5a5;
  --gray-3: #8b8b8b;
  --gray-4: #303030;
  --gray-5: #1e1e1e;
  --gray-6: #A5A5A5;
  --black: #000;
  --blue: #2f5aea;
  --blue-light: #897ce2;
  --red: #eC7676;
}
